<div class="my-appts-page">
  <div class="my-appts-header">
    <div class="my-appts-header-inner">
      <div class="logo">📅 ProSchedule</div>
      <div class="spacer"></div>
      @if (bookingHref(); as href) {
        <a class="header-link" [routerLink]="href">Book an Appointment</a>
      }
      @if (auth.hasPractice()) {
        <a class="header-link" routerLink="/home">Switch View</a>
      }
      <div class="user-chip">
        <span class="user-chip-name">{{ auth.currentUser()?.firstName }} {{ auth.currentUser()?.lastName }}</span>
        <button class="user-chip-signout" type="button" (click)="auth.logout()">Sign out</button>
      </div>
    </div>
  </div>

  <app-my-appointments-widget />
</div>
